@use "globals" as *;
@use "buttons";
@use "fontawesome";
// HEADER


// END HEADER
// LIST
.articles {
  background-color: $beige;
  color: $marron;

  .card-article {
    border-radius: 15px;

    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 40vh;
      object-fit: cover;
    }

    .text-card {
      padding: 2rem 3rem;

      @media screen and (max-width: 767px) {
        padding: 2rem;
      }

      h4 {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      .blog-meta {
        color: $secondary;
        margin-bottom: 1rem;

        .date {
          display: inline-block;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

}

// END LIST

// BLOG SINGLE
main {
  background-color: $beige;
  color: $marron;

  .left-content {
    padding-right: 0;

    @media screen and (max-width: 1023px) {
      padding-top: 99px;
      padding-right: 20px;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-family: 'Playfair Display';

      &::before {
        display: none;
      }
    }

    .swiperSingleBlog {
      margin-top: 1.5rem;

      .swiper-wrapper {
        align-items: flex-end;

        .swiper-slide {
          border-radius: 15px;
        }
      }
    }

    .header-content-blog {
      .blog-meta {
        color: $secondary;
        margin-block: 1.5rem;

        svg {
          fill: $secondary;
          display: inline;
          width: 20px;
        }
      }

      img {
        border-radius: 15px;
        margin-bottom: 5rem;
      }
    }

    .content {

      p:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  // SIDEBAR
  .sidebar {
    margin-block: 5rem;
    margin-right: 160px;
    padding: 2rem;
    border-radius: 15px;

    .sidebar-decorative-img {
      margin-inline: auto;
      max-width: 200px;
    }


    @media screen and (max-width: 1200px) {
      margin-block: 64px;
      margin-right: 20px;
    }

    @media screen and (max-width: 1023px) {
      margin-block: 0;
      margin-inline: 20px;
      padding: 20px;
    }

    div {

      h3 {
        text-transform: uppercase;
        color: $secondary;
        font-size: 1rem;
        margin-top: 3rem;
        margin-bottom: 1rem;
        display: inline-block;

        &::before {
          content: "";
          width: .7rem;
          min-width: .7rem;
          min-height: .7rem;
          height: .7rem;
          background-color: $orange;
          display: inline-block;
          border-radius: 50%;
          margin-right: .5rem;
          margin-bottom: 0;
        }
      }
    }

    p {
      font-size: 14px;
    }

    .accompagnements {
      background: none;
    }

    //RECHERCHE
    form {
      label {
        color: $secondary;
        margin-bottom: 1rem;
        display: block;
      }

      input {
        border-radius: 15px;
        background-color: $beige;
        border: 1px solid $beige;
        color: $marron;
        padding: .3rem .9rem;
        width: 100%;

        &:active,
        &:focus {
          border-color: $orange;
          outline: none;
        }
      }

      button {

        &::before {
          @extend .fas;
          content: '\f002';
          cursor: pointer;
          width: 33.59px;
          height: 33.59px;
          transition: .3s;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $beige;
          font-size: 12px;
          border: 1px solid $beige;
        }

        &:hover {
          &::before {
            color: $orange;
            border-color: $orange;
          }
        }
      }
    }

    //END RECHERCHE
  }

  //INFORMATIONS
  .informations {
    img {
      border-radius: 15px;
      display: block;
      margin-bottom: 1rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: .5rem;
  }

  .more {
    margin-top: 1rem;
  }

  //END INFORMATIONS
}

// END BLOG SINGLE