@use "globals" as *;
@use "buttons";
@use "fontawesome";
// HEADER


// END HEADER
// LIST
.articles {
  background-color: $beige;
  color: $marron;

  .blog-filters {
    margin-bottom: 3rem;

    li:not(:last-child) {
      display: flex;
      align-items: center;
      gap: 24px;

      &::after {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $marron;
        border-radius: 50%;
        display: block;
      }
    }

    .filter-btn {
      @extend .border-marron-button;

      &.active {
        @extend .marron-button;

        &:hover {
          background-color: $marron;
        }
      }
    }
  }

  .card-article {
    border-radius: 30px;
    background-color: white;

    img {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    .text-card {
      padding: 2rem 3rem;

      h4 {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-bottom: 1rem;
      }

      .blog-meta {
        color: $secondary;
        margin-bottom: 1rem;

        &::before {
          @extend .far;
          content: '\f073';
          margin-right: .3rem;
        }

        .date {
          display: inline-block;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

}

// END LIST

// BLOG SINGLE
main {
  background-color: $beige;
  color: $marron;

  .left-content {
    padding-right: 0;

    .header-content-blog {
      .blog-meta {
        color: $secondary;
        margin-block: 1.5rem;

        &::before {
          @extend .far;
          content: '\f073';
          margin-right: .3rem;
        }
      }

      .description {
        margin-top: 1rem;
        font-size: 18px;
        color: $marron;
        position: relative;
        padding-left: 60px;
        margin-bottom: 1rem;

        &::before {
          content: '';
          width: 50px;
          height: 1px;
          background-color: $marron;
          position: absolute;
          left: 0;
          top: 11px;
        }
      }

      img {
        border-radius: 30px;
        margin-bottom: 4rem;
      }
    }

    .content {
      h2 {
        margin-top: 4rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 2rem;

        &::before {
          display: none;
        }
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }

  .right-content {
    margin-top: 4rem;
    margin-right: 120px;
    padding: 2rem;
    background-color: white;
    border-radius: 30px;
  }
}

// END BLOG SINGLE