@use "globals" as *;
@use "buttons";
@use "fontawesome";
// HEADER


// END HEADER
// LIST
.articles {
  background-color: $beige;
  color: $marron;

  .card-article {
    border-radius: 30px;

    img {
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
    }

    .text-card {
      padding: 2rem 3rem;

      h4 {
        font-family: 'Playfair Display', serif;
        font-size: 24px;
        margin-bottom: 1rem;
        font-weight: bold;
      }

      .blog-meta {
        color: $secondary;
        margin-bottom: 1rem;
        .date {
          display: inline-block;

          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
    }
  }

}

// END LIST

// BLOG SINGLE
main {
  background-color: $beige;
  color: $marron;

  .left-content {
    padding-right: 0;

    .header-content-blog {
      .blog-meta {
        color: $secondary;
        margin-block: 1.5rem;

        &::before {
          @extend .far;
          content: '\f073';
          margin-right: .3rem;
        }
      }

      .description {
        margin-top: 1rem;
        font-size: 18px;
        color: $marron;
        position: relative;
        padding-left: 60px;
        margin-bottom: 1rem;

        &::before {
          content: '';
          width: 50px;
          height: 1px;
          background-color: $marron;
          position: absolute;
          left: 0;
          top: 11px;
        }
      }

      img {
        border-radius: 30px;
        margin-bottom: 5rem;
      }
    }

    .content {
      h2 {
        margin-top: 5rem;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        margin-bottom: 2rem;

        &::before {
          display: none;
        }
      }

      p {
        margin-bottom: 1rem;
      }
    }
  }

  // SIDEBAR
  .sidebar {
    margin-top: 5rem;
    margin-right: 120px;
    padding: 1.5rem;
    background-color: white;
    border-radius: 30px;

    h3,
    h2 {
      display: block !important;

      &::before {
        display: none;
      }
    }

    h2 {
      text-align: center;
      margin-bottom: 2rem !important;
    }

    h3 {
      text-transform: uppercase;
      color: $secondary;
      font-size: 1rem;
      margin-top: 3rem;
      margin-bottom: 1rem;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: $orange;
        display: block;
        border-radius: 50%;
        margin-bottom: 1rem;
      }
    }

    p {
      font-size: 14px;
    }

    //RECHERCHE
    form {
      label {
        color: $secondary;
        margin-bottom: 1rem;
        display: block;
      }

      input {
        border-radius: 30px;
        background-color: $beige;
        color: $marron;
        padding: .3rem .9rem;
        width: 100%;
      }

      button {

        &::before {
          @extend .fas;
          content: '\f002';
          cursor: pointer;
          width: 33.59px;
          height: 33.59px;
          transition: .3s;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $beige;
          font-size: 12px;
          border: 1px solid $beige;
        }

        &:hover {
          &::before {
            color: $orange;
            border-color: $orange;
          }
        }
      }
    }

    //END RECHERCHE
  }

  //INFORMATIONS
  .informations {
    img {
      border-radius: 30px;
      display: block;
      margin-bottom: 1rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: .5rem;
  }

  .more {
    margin-top: 1rem;
  }

  //END INFORMATIONS
}

// END BLOG SINGLE