@use "globals" as *;
@use "mixins" as *;

.marron-button {
    @include marron-button;
}

.secondary-button {
    @include secondary-button;
}

.orange-button {
    @include orange-button;
}

.border-orange-button {
    @include border-orange-button;
}

.border-marron-button {
    @include border-marron-button;
}

.active-border-marron-button {
    @include active-border-marron-button;
}