@use "globals" as *;
@use "mixins" as *;

.button {
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 500;
    transition: .2s;
    padding: 12px 24px;
    position: relative;
    display: block;
    width: fit-content;
    cursor: pointer;
}

.marron-button {
    // @include marron-button;
    background-color: $marron;
    color: $creme;

    &:hover {
        background-color: $rose;
    }
}

.secondary-button {
    // @include secondary-button;
    font-family: 'Jost';
    font-size: 14px;
    font-weight: 500;
    transition: .2s;
    position: relative;

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: $coperwood;
        position: absolute;
        bottom: -.2rem;
        left: 0;
    }

    &:hover {
        color: $rose;

        &::after {
            background-color: $rose;
        }
    }
}

.white-button {
    background-color: $creme;
    color: $marron;
    font-size: 13px;
    font-weight: 500;
    transition: .2s;

    &:hover {
        background-color: $green;
    }
}

.white-rose-button {
    background-color: $creme;
    color: $marron;
    transition: .2s;

    &:hover {
        background-color: $rose;
        color: $floral;
    }
}

.floral-desert-button {
    background-color: $floral;
    color: $marron;
    transition: .2s;

    &:hover {
        background-color: $desert;
    }
}

.header-white-button {
    background-color: $creme;
    color: $marron;

    &:hover {
        background-color: $green
    }
}

.marron-desert-button {
    background-color: $marron;
    color: $desert;

    &:hover {
        background-color: $desert;
        color: $marron;
    }
}

.marron-rose-button {
    background-color: $marron;
    color: $floral;

    &:hover {
        background-color: $rose;
    }
}

.marron-coperwood-button {
    background-color: $marron;
    color: $desert;

    &:hover {
        background-color: $coperwood;
    }
}

.orange-button {
    @include orange-button;
}

.border-orange-button {
    @include border-orange-button;
}

.beige-button {
    @include beige-button;
}

.border-beige-button {
    @include border-beige-button;
}

.border-marron-button {
    @include border-marron-button;
}

.active-border-marron-button {
    @include active-border-marron-button;
}

.second-link {
    @include second-link;
}

.second-link-orange {
    @include second-link-orange;
}

.second-link-secondary {
    @include second-link-secondary;
}