@use "globals" as *;
@use "mixins" as *;

.marron-button {
    @include marron-button;
}

.secondary-button {
    @include secondary-button;
}

.orange-button {
    @include orange-button;
}

.border-orange-button {
    @include border-orange-button;
}

.beige-button {
    @include beige-button;
}

.border-beige-button {
    @include border-beige-button;
}

.border-marron-button {
    @include border-marron-button;
}

.active-border-marron-button {
    @include active-border-marron-button;
}

.second-link {
    @include second-link;
}

.second-link-orange {
    @include second-link-orange;
}

.second-link-secondary {
    @include second-link-secondary;
}