$marron: #462620;
$secondary: #3f5e5a;
$light-secondary: #7a8b85;
$orange: #d86a3d;
$caramel: #9c6338;
$white: #ece7dd;
$beige: #f6f5f2;

// BACKGROUNDS
$background-primary: #f3efea;
$background-secondary: #f6f5f2;

// NEW Design
$creme: #fffdf3;
$rose: #a15d66;
$coperwood: #A76523;
$green: #ac9c35;
$floral: #fffdf3;
$blue: #bed0ce;
$desert: #f3ceb1;