$marron: #462620;
$secondary: #3f5e5a;
$light-secondary: #7a8b85;
$orange: #d86a3d;
$caramel: #9c6338;
$white: #ece7dd;
$beige: #f6f5f2;

// BACKGROUNDS
$background-primary: #f3efea;
$background-secondary: #f6f5f2;