@use "globals" as *;
@use "buttons";
@use "fontawesome";

#page-contact {
    h2 {
        font-family: 'Playfair Display';
        font-size: 36px;
        margin-bottom: 1rem;

        &::before {
            display: none;
        }
    }


    .decouverte {
        background-color: $secondary;
        color: $beige;

        h2,
        h3,
        .tag-home {
            color: $beige;
        }

        h3 {
            &::before {
                background-color: $beige;
            }
        }

    }

    .content-icone-texte {
        .dashicons {
            font-size: 1.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: $beige, $alpha: 0.2);
            width: 50px;
            height: 50px;
            margin: auto;
            margin-bottom: 1rem;
        }
    }


    .calendly-inline-widget {
        margin-top: 3rem;
    }

    .swiper-slide {
        background-color: white;
        padding: 3rem;
        border-radius: 30px;

        .dashicons {
            color: $orange;
            width: 40px;
            min-width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgba($color: $orange, $alpha: .3);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        h4 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 1.5rem;
        }

        .infos {
            color: $secondary;
            margin-bottom: 1rem;
            font-size: 18px;
        }

        .texte {
            padding: 0;
        }
    }

    .swiper-navigation {
        margin-bottom: 2rem;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .swiper-pagination-bullet {
                background: none;
                width: 40px;
                height: 40px;
                border: 1px solid $marron;
                color: $marron;
                transition: .3s;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                position: relative;

                &:not(:last-child)::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-color: $marron;
                    border-radius: 50%;
                    position: absolute;
                    right: -29px;
                }

                &.swiper-pagination-bullet-active,
                &:hover {
                    background-color: $marron;
                    color: $beige;
                }
            }

        }
    }

    .soutiens {
        background-color: white;

        .content-soutiens {
            border-radius: 30px;
            background-color: $beige;
            padding: 3rem;

            p {
                color: $secondary;
            }
        }
    }

    .faq {
        background-color: white;
    }

    // Calendly

    #custom-booking-app {
        background-color: white;
        padding: 3rem;
        border-radius: 30px;
        color: $marron;

        .step-title {
            color: $marron;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        .calendar-card {
            border: 2px solid $marron;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 2rem;

            .date-header {
                background-color: $marron;
                padding: 1rem 3rem;
                color: $beige;
                font-weight: bold;
            }

            .time-slots-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                row-gap: 1rem;
                column-gap: 3rem;
                padding-inline: 3rem;
                padding-top: 1rem;
                .time-btn {
                    background-color: $beige;
                    transition: .3s;
                    cursor: pointer;
                    padding: 1rem 2rem;
                    border-radius: 15px;

                    &.selected,
                    &:hover {
                        background-color: $marron;
                        color: $beige;
                    }
                }

            }

            .trait {
                content: '';
                width: 80%;
                display: block;
                margin: auto;
                height: 1px;
                background-color: $marron;
                margin: 2rem auto;
            }

            .meeting-type-selector {
                display: flex;
                gap: 2rem;
                padding-inline: 3rem;
                margin-bottom: 1rem;

                .type-option {
                    border-radius: 15px;
                    background-color: $beige;
                    padding: 20px;
                    width: 100%;
                    transition: .3s;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        background-color: $marron;
                        color: $beige;
                    }

                    input {
                        display: none;
                    }

                    .option-content {
                        * {
                            display: block;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .other-days {
            margin-top: 2rem;

            .day-row {
                padding: 1rem 3rem;
                background-color: $beige;
                border-radius: 15px;
                margin-bottom: 1.5rem;
                cursor: pointer;
                transition: .3s;

                &:hover {
                    background-color: $marron;
                    color: $beige;
                }

                &.active {
                    display: none;
                }

                span {
                    font-weight: bold;
                }
            }
        }

        .action-area {
            margin: auto;
            width: fit-content;

            button {
                min-width: 350px;
            }
        }
    }
}