@use "globals" as *;
@use "buttons";
@use "fontawesome";

#page-contact {
    .reseaux {
        h3 {
            margin-bottom: 2rem;
        }

        #sb_instagram {
            display: flex;
            flex-direction: column;

            #sbi_images {
                order: 2;

                img {
                    border-radius: 15px;
                }
            }

            #sbi_load {
                order: 1;
                width: fit-content;
                margin-bottom: 1rem;

                .sbi_follow_btn {
                    margin-left: 0;

                    a {
                        @extend .second-link-orange;
                        background: none !important;
                        box-shadow: none !important;
                        border-radius: 0;
                        color: $orange;
                        padding: 0;
                        font-size: 1rem;

                        &:hover {
                            background: none !important;
                            box-shadow: none !important;
                            color: $caramel;
                        }

                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .decouverte {
        background-color: $secondary;
        color: $beige;

        h2,
        h3,
        .tag-home {
            color: $beige;
        }

        h3 {
            &::before {
                background-color: $beige;
            }
        }

    }

    .content-icone-texte {
        .dashicons {
            font-size: 1.5rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: $beige, $alpha: 0.2);
            border: 1px solid rgba($color: $beige, $alpha: 0.2);
            width: 48px;
            height: 48px;
            margin: auto;
            margin-bottom: 1rem;

            svg {
                fill: $beige;
            }
        }
    }


    .calendly-inline-widget {
        margin-top: 3rem;
    }

    .contactSwiper {
        max-width: 1000px;
        margin: auto;
    }

    .swiper-slide {
        padding: 3rem;
        border-radius: 15px;

        @media screen and (max-width: 767px) {
            padding: 2rem;
        }

        .dashicons {
            width: 48px;
            min-width: 48px;
            height: 48px;
            font-size: 1.5rem;
            border-radius: 50%;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                fill: $orange;
            }
        }

        h4 {
            font-family: 'Playfair Display';
            font-weight: bold;
            font-size: 24px;
            margin-bottom: 1.5rem;
        }

        .infos {
            color: $secondary;
            margin-bottom: 1rem;
            font-size: 18px;
        }

        .texte {
            padding: 0;
        }
    }

    .swiper-navigation {
        margin-bottom: 2rem;

        .swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 3rem;

            .swiper-pagination-bullet {
                background: none;
                width: 46px;
                height: 46px;
                border: 1px solid $marron;
                color: $marron;
                transition: .3s;
                opacity: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                position: relative;

                &:not(:last-child)::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-color: $marron;
                    border-radius: 50%;
                    position: absolute;
                    right: -29px;
                }

                &.swiper-pagination-bullet-active,
                &:hover {
                    background-color: $marron;
                    color: $beige;
                }
            }

        }
    }

    .soutiens {

        .content-soutiens {
            border-radius: 15px;
            padding: 3rem;
            max-width: 1000px;
            margin: auto;

            @media screen and (max-width: 767px) {
                padding: 20px;
            }

            h2 {
                margin-bottom: 1rem;
            }
        }
    }


    // Calendly



    .contact {

        button {
            display: block;
            margin-inline: auto;
            margin-top: 2rem;
        }
    }
}

.form-contact {
    padding: 3rem;

    @media screen and (max-width: 767px) {
        padding: 2rem;
    }
}

#form-calendly,
#form-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    column-gap: 5rem;
    max-width: 1000px;
    margin: auto;

    @media screen and (max-width: 767px) {
        display: block;

        >div {
            margin-bottom: 1rem;
        }
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: .3rem;
    }

    .required {
        &::after {
            content: " *";
            color: $orange;
        }
    }

    input,
    select {
        background-color: $white;
        border-radius: 15px;
        width: 100%;
        padding: .7rem 1.5rem;
        font-weight: normal;
    }

    select,
    ::picker(select) {
        appearance: base-select;
    }

    select {
        flex: 1;
    }

    select {
        background: $white;
        transition: 0.4s;
    }

    select::picker-icon {
        color: #999999;
        transition: 0.4s rotate;
    }

    select:open::picker-icon {
        rotate: 180deg;
    }

    ::picker(select) {
        border: none;
    }

    option {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
        border: 2px solid #dddddd;
        background: $white;
        padding: .7rem 1.5rem;
        transition: 0.4s;
        color: $marron;

        &::checkmark {
            display: none;
        }

        &:hover,
        &:checked {
            background-color: $marron;
            color: $white;
        }

        &:first-of-type {
            border-radius: 15px 15px 0 0;
        }

        &:last-of-type {
            border-radius: 0 0 15px 15px;
        }

        &:not(option:last-of-type) {
            border-bottom: none;
        }
    }

    ::picker(select) {
        border-radius: 15px;
    }

    >div>div {
        margin-bottom: 1rem;
        font-weight: bold;
    }

    fieldset {
        >div {
            display: flex;
            align-items: center;

            label {
                font-weight: 400;
            }

            input {
                width: auto;
                margin-right: 1rem;
                background-color: $white;

                &:checked {
                    accent-color: #6aa842;
                }

            }

            input[type=checkbox] {
                appearance: none;
                height: 17px;
                min-width: 17px;
                background: $white;
                border: 1px solid $marron;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                border-radius: 0;

                &:checked {
                    background: $marron;
                    position: relative;

                    &:before {
                        font-family: FontAwesome;
                        content: '\f00c';
                        display: block;
                        color: $white;
                        font-size: 10px;
                        position: absolute;
                    }
                }
            }

            label {
                margin-bottom: 0;
            }
        }
    }

    .textarea-content {
        grid-column: 1 / 3;

        textarea {
            border-radius: 15px;
            background-color: $white;
            padding: .7rem 1.5rem;
            width: 100%;
            min-height: 120px;
        }
    }
}

#form-contact {
    border-radius: 15px;

    input,
    textarea,
    select,
    option {
        background-color: $beige !important;
    }

    option:checked,
    input:checked {
        background-color: $marron !important;
    }

    option:hover {
        background-color: $marron !important;
    }

    .from-calendly {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 3rem;
        column-gap: 5rem;
        grid-column: 1 / 3;

        @media screen and (max-width: 767px) {
            display: block;

            >div {
                margin-bottom: 1rem;
            }
        }

    }

    .textarea-content,
    .files,
    .ccga {
        grid-column: 1 / 3;
    }

    .files {
        input {
            cursor: pointer;
        }
    }

    .ccga a {
        text-decoration: underline;
    }

}

.action-area {
    margin-top: 3rem;

    button,
    a {
        // margin: auto;
        display: block;
        // padding: 1rem 3rem;
        width: fit-content;
    }
}

#custom-booking-app {
    padding: 3rem;
    border-radius: 15px;
    color: $marron;
    margin-top: 3rem;
    max-width: 1000px;
    margin-inline: auto;

    @media screen and (max-width: 767px) {
        padding: 2rem;
    }

    .header-form-calendly {
        >div {
            width: 133px;
            margin-top: 2px;
            text-align: end;

            >a {
                transition: .3s;

                &:hover {
                    color: $caramel;
                }
            }
        }

        .step-title {
            color: $marron;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            font-size: 20px;
        }
    }

    .calendar-card {
        border: 2px solid $marron;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 2rem;

        .date-header {
            background-color: $marron;
            padding: 1rem 3rem;
            color: $beige;
            font-weight: bold;
        }

        .time-slots-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            row-gap: 1rem;
            column-gap: 3rem;
            padding-inline: 3rem;
            padding-top: 1rem;

            @media screen and (max-width: 1340px) {
                grid-template-columns: repeat(4, 1fr);

            }

            @media screen and (max-width: 910px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @media screen and (max-width: 690px) {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 1rem;
                padding-inline: 1rem;

            }

            @media screen and (max-width: 440px) {
                grid-template-columns: repeat(1, 1fr);
            }

            .time-btn {
                background-color: $white;
                transition: .3s;
                cursor: pointer;
                padding: 1rem 2rem;
                border-radius: 15px;

                &.selected,
                &:hover {
                    background-color: $marron;
                    color: $beige;
                }
            }

        }

        .trait {
            content: '';
            display: block;
            margin: auto;
            height: 1px;
            background-color: $marron;
            margin: 2rem 48px;

            @media screen and (max-width: 690px) {
                margin-inline: 1rem;
            }
        }

        .meeting-type-selector {
            display: flex;
            gap: 2rem;
            padding-inline: 3rem;
            margin-bottom: 1rem;

            @media screen and (max-width: 690px) {
                padding-inline: 1rem;
            }

            .type-option {
                border-radius: 15px;
                background-color: $white;
                padding: 20px;
                transition: .3s;
                cursor: pointer;

                * {
                    cursor: pointer;
                }

                &.active,
                &:hover {
                    background-color: $marron;
                    color: $beige;

                    .icon {
                        svg {
                            fill: $beige;
                        }
                    }
                }

                input {
                    display: none;
                }

                .option-content {

                    * {
                        display: block;
                        text-align: center;
                    }
                }

                .icon {
                    display: block;

                    svg {
                        fill: $marron;
                        transition: .3s;
                        margin: auto;

                        @media screen and (max-width: 767px) {
                            width: 24px;
                        }
                    }
                }
            }
        }

    }

    .other-days {
        margin-top: 2rem;

        .day-row {
            padding: 1rem 3rem;
            background-color: $beige;
            border-radius: 15px;
            margin-bottom: 1.5rem;
            cursor: pointer;
            transition: .3s;

            &:hover {
                background-color: $marron;
                color: $beige;
            }

            &.active {
                display: none;
            }

            span {
                font-weight: bold;
            }
        }
    }

    .summary-text {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 0;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .call {
        text-align: center;
    }

    .error {
        text-align: center;
        font-weight: bold;
    }

    #go-to-step-2 {
        &.locked {
            cursor: not-allowed;
            background-color: grey;
            border-color: grey;
        }
    }
}