@use 'globals' as *;
@use 'buttons';
@use 'fontawesome';

// FAQ SEARCH
.faq-button a {
    width: 46px;
    height: 46px;
    background-color: $light-secondary;
    border: 1px solid $light-secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $beige;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    transition: .3s;
    z-index: 200;

    &:hover {
        background-color: $secondary;
    }
}

.search {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;

    &::after {
        @extend .fas;
        content: '\f002';
        position: absolute;
        right: 1rem;
        color: $orange;
    }

    #faq-search {
        border: 1px solid $orange;
        color: $orange;
        border-radius: 40px;
        padding: 1rem;
        padding-right: 3rem;
        display: block;
        width: 100%;

        &:focus {
            outline: none;
            border-color: $marron;
        }

    }
}

// ENDFAQ SEARCH

// FAQ CATEGORIES
#faq-categories {
    li {
        display: flex;
        align-items: center;
        gap: 24px;

        &:not(:last-child)::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: $marron;
            border-radius: 50%;
            display: block;
        }
    }

    button.active {
        @extend .marron-button;

        &:hover {
            background-color: $marron;
        }
    }
}

// END FAQ CATEGORIES
// FAQ LIST
#faq-list {
    margin-top: 5rem;
    max-width: 1000px;
    margin-inline: auto;

    .faq-category-block {
        .faq-item {

            border-radius: 20px;
            margin-bottom: 2rem;

            .collapse-title {
                font-weight: bold;
                font-size: 18px;
                padding: 1rem 2rem;
            }

            .collapse-content {
                padding: 1rem 2rem;
                p {
                    font-size: 1rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
}

// END FAQ LIST