@font-face {
    font-family: "PlayFair Display";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "PlayFair Display Italic";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}



// ROBOTO
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-weight: 300;
    font-style: 300;
    font-display: swap;
}

// JOST
@font-face {
    font-family: "Jost";
    src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Jost";
    src: url("../assets/fonts/Jost/Jost-VariableFont_wght.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// JOST ITALIC
@font-face {
    font-family: "Jost";
    src: url("../assets/fonts/Jost/Jost-Italic-VariableFont_wght.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


// NEWSREADER
@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-VariableFont_opsz,wght.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

// NEWSREADER ITALIC
@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Newsreader";
    src: url("../assets/fonts/Newsreader/Newsreader-Italic-VariableFont_opsz,wght.ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}