@font-face {
    font-family: "PlayFair Display";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
    font-family: "PlayFair Display Italic";
    src: url("../assets/fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}



// ROBOTO
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
    font-weight: 300;
    font-style: 300;
    font-display: swap;
}