@use "globals" as *;
@use "fontawesome" as *;

footer {
    background-color: $marron;
    color: $light;
    padding: 4rem 120px;

    img {
        max-width: 190px;
        display: block;
        margin-bottom: 2rem;
    }

    p {
        margin-bottom: 20px;
        font-size: 14px;
    }



    h2 {
        font-weight: bold;
        color: $beige;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .instagram {
        a {
            &::before {
                content: '\f16d';
                @extend .fab;
            }
        }
    }

    #menu-reseaux {
        flex-direction: row;
        padding: 0;
        gap: .5rem;
        flex-wrap: wrap;

        a {
            padding: 0;
            font-size: 0;
            display: block;

            &:hover {
                background: none;

                &::before {
                    border-color: $orange;
                }
            }

            &::before {
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background-color: rgba($color: $beige, $alpha: .3);
                border-radius: 50%;
                border: 1px solid rgba($color: $beige, $alpha: .3);
                transition: .3s;
            }
        }

        .instagram {
            a {
                &::before {
                    content: '\f16d';
                    @extend .fab;
                }
            }
        }

        .linkedin {
            a {
                &::before {
                    content: '\f0e1';
                    @extend .fab;
                }
            }
        }

        .facebook {
            a {
                &::before {
                    content: '\f39e';
                    @extend .fab;
                }
            }
        }

        .pinterest {
            a {
                &::before {
                    content: '\f231';
                    @extend .fab;
                }
            }
        }
    }

    #menu-navigation {
        padding: 0;

        a {
            padding: 0;
            margin-bottom: 20px;
            transition: .3s;
            font-size: 14px;

            &:hover {
                background: none;
                color: $orange;
            }
        }
    }

    .contact {
        ul {
            li {
                font-size: 14px;
                margin-bottom: 1rem;

                a:hover {
                    color: $orange;
                }

                a {
                    transition: .3s;
                }

                &.mail {
                    a {
                        &::before {
                            margin-right: .5rem;
                            font-size: 18px;
                            content: "\f0e0";
                            @extend .far;
                        }
                    }
                }

                &.tel {
                    a {
                        &::before {
                            margin-right: .5rem;
                            font-size: 18px;
                            content: "\f095";
                            @extend .fas;
                        }
                    }
                }

                &.loca {
                    a {
                        &::before {
                            margin-right: .5rem;
                            font-size: 18px;
                            content: "\f3c5";
                            @extend .fas;
                        }
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding-top: 1.5rem;
        border-top: 1px solid rgba($color: $beige, $alpha: .3);
    }
}