@use "globals" as *;
@use "fontawesome" as *;

footer {
    background-color: $marron;
    color: $white;
    padding: 5rem 120px;

    @media screen and (max-width: 767px) {
        padding: 2rem 20px;
    }

    img {
        max-width: 190px;
        display: block;
        margin-bottom: 2rem;
    }

    p {
        font-size: 14px;
    }



    h2 {
        font-weight: bold;
        color: $beige;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #menu-reseaux {
        margin-top: 2rem;
        flex-direction: row;
        padding: 0;
        gap: .5rem;
        flex-wrap: wrap;

        a {
            padding: 0;
            font-size: 0;
            display: block;

            &:hover {
                background: none;

                .menu-icon {
                    border-color: $orange;

                    svg {
                        // fill: $orange;
                    }
                }
            }

            .menu-icon {
                font-size: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                background-color: rgba($color: $beige, $alpha: .3);
                border: 1px solid rgba($color: $beige, $alpha: .3);
                border-radius: 50%;
                transition: .3s;

                svg {
                    fill: $beige;
                    width: 24px;
                    transition: .3s;
                }
            }
        }

    }

    #menu-navigation {
        padding: 0;

        a {
            padding: 0;
            transition: .3s;
            font-size: 14px;
            margin-bottom: .5rem;

            &:hover {
                background: none;
                color: $orange;
            }
        }
    }

    .contact {
        ul {
            li {
                font-size: 14px;
                margin-bottom: .5rem;

                a:hover {
                    color: $orange;

                    svg {
                        fill: $orange;
                    }
                }

                a {
                    transition: .3s;
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    svg {
                        display: inline-block;
                        fill: $beige;
                        width: 24px;
                        transition: .3s;
                    }
                }
            }
        }
    }

    .footer-bottom {
        padding-top: 1.5rem;
        border-top: 1px solid $orange;
    }
}