@use "globals" as *;
@use "buttons";
@use "fontawesome";

#histoire {

    // PERSO
    section:not(.header-content) {
        h2 {
            font-family: "Playfair Display", serif;
            font-size: 36px;
            margin-bottom: 0;

            &::before {
                display: none;
            }
        }
    }

    img {
        border-radius: 15px;
        object-fit: cover;
    }

    .texte {
        padding: 3rem 0;
    }

    // PHILOSOPHIE
    .philosophie {
        background-color: white;
    }

    // END PHILOSOPHIE

    // UNIVERS
    .univers {
        .universSwiper {
            max-width: 1000px;
        }

        .swiper-slide {
            padding: 3rem;
            border-radius: 15px;

            @media screen and (max-width: 767px) {
                padding: 20px;
            }

            .dashicons {
                width: 48px;
                min-width: 48px;
                height: 48px;
                font-size: 1.5rem;
                border-radius: 50%;
                background-color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;

                svg {
                    fill: $orange;
                }
            }

            h4 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 24px;
                margin-bottom: 1.5rem;
            }


            .texte {
                padding: 0;
            }
        }

        .swiper-navigation {
            margin-bottom: 3rem;

            .swiper-pagination {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3rem;

                .swiper-pagination-bullet {
                    background: none;
                    width: 46px;
                    height: 46px;
                    border: 1px solid $marron;
                    color: $marron;
                    transition: .3s;
                    opacity: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0;
                    position: relative;

                    &:not(:last-child)::after {
                        content: "";
                        width: 10px;
                        height: 10px;
                        display: block;
                        background-color: $marron;
                        border-radius: 50%;
                        position: absolute;
                        right: -29px;
                    }

                    &.swiper-pagination-bullet-active,
                    &:hover {
                        background-color: $marron;
                        color: $beige;
                    }
                }

            }
        }
    }

    // END UNIVERS

    // CONTRIB
    .contrib {
        background-color: white;

        .content-contrib {
            background-color: $white;
            border-radius: 15px;
            padding: 3rem;
            max-width: 1000px;
            margin: auto;

            @media screen and (max-width: 767px) {
                padding: 20px;
            }

            h2 {
                margin-bottom: 1rem;
            }
        }
    }

    // END CONTRIB

    // ACCOMPAGNEMENT
    .accompagnement {
        background-color: $secondary;

        h2,
        h3 {
            color: $beige;
        }

        h3 {
            &::before {
                background-color: $beige;
            }
        }
    }

    // END ACCOMPAGNEMENT
}