@use "globals" as *;




.more {
    color: $light-secondary;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    font-size: 18px;
    border-bottom: 1px solid $light-secondary;
    position: relative;
    transition: .3s;

    &:hover {
        color: $secondary;
        border-color: $secondary;
    }
}

.tag-home,
.tag-page {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 1rem;

    &::before {
        content: '';
        width: .7rem;
        height: .7rem;
        background-color: $orange;
        border-radius: 50%;
    }
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 36px;
    line-height: 36px;
    color: $marron;
}

h3 {
    display: flex;
    align-items: center;
    color: $marron;
    font-size: 20px;
    gap: 13px;
    margin-bottom: 3rem;

    &::before {
        content: "";
        width: 50px;
        height: 1px;
        background-color: $marron;
    }
}

//IMAGE HEADER ACCUEIL
.content-img-header {
    padding: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background-color: rgba($color: $marron, $alpha: .64);
        z-index: 1;
    }

    img {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .text-img-header {
        background-color: rgba($color: $marron, $alpha: .9);
        padding: 2rem;
        border-radius: 15px;

        h1 {
            font-size: 48px;
            font-family: "Playfair Display", serif;
            color: $beige;
            line-height: 48px;
        }

        h2 {
            font-size: 30px;
            display: flex;
            align-items: center;
            gap: 13px;
            color: $beige;
            margin-top: 1rem;
            font-family: "Roboto";

            &::before {
                content: '';
                height: 1px;
                width: 50px;
                background-color: $beige;
            }
        }

        .border-orange-button {
            color: $beige;
        }
    }
}

//END IMAGE HEADER ACCUEIL

.content-links {

    background-color: $background-primary;

    h1 {
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 52px;
        line-height: 52;
    }

    h2 {
        color: $marron;
        font-size: 30px;
        font-weight: 300;
    }

    h3 {
        color: $secondary;
        font-size: 18px;
        font-weight: 400;
    }
}


//MA VISION ACCUEIL


.content-ma-vision {

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

    .texte-ma-vision {
        color: $marron;
        font-size: 1rem;
        line-height: 1.8;
        padding: 1rem 0;

        p {
            margin-bottom: .7rem;
            line-height: 1.2rem;
        }
    }
}


// SERVICES ACCUEIL
.content-services-accueil {
    .selector-services {
        margin-bottom: 56px;

        .point:not(:last-child) {
            display: flex;
            align-items: center;
            gap: 1rem;

            &::after {
                content: '';
                min-width: 11px;
                min-height: 11px;
                background-color: $marron;
                border-radius: 50%;
            }
        }
    }

    .item-service {
        display: none;
    }

    .active-service {
        display: flex;
        animation: fadeIn .5s;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .left-service {
        img {
            border-radius: 15px;
            object-fit: cover;
            height: 100%;
        }
    }

    .right-service {
        padding: 1rem 0;

        .tag {
            text-transform: uppercase;
            color: $secondary;
        }

        h4 {
            font-size: 24px;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            line-height: 24px;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }

        ul {
            li {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 2rem;
                margin-bottom: .5rem;

                &::before {
                    content: "";
                    width: 1rem;
                    height: 1rem;
                    background-color: rgba($color: $secondary, $alpha: .3);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                }

                &::after {
                    content: "";
                    width: .5rem;
                    height: .5rem;
                    background-color: $secondary;
                    border-radius: 50%;
                    position: absolute;
                    left: .25rem;
                }
            }
        }
    }
}

// END SERVICES ACCUEIL

// APPROCHE & PHILOSOPHIE 
.content-approche {
    background-color: $white;
    color: $marron;

    .card-approche {
        background-color: white;
        border-radius: 15px;
        padding: 2rem;

        h4 {
            font-size: 24px;
            font-family: "Playfair Display", serif;
            font-weight: bold;
            line-height: 24px;

            margin-bottom: 1rem;
        }

        .tag-card {
            color: $secondary;
            font-size: 18px;
            margin-bottom: 1rem;
        }

        .text-card {
            p {
                margin-bottom: 1rem;
            }
        }

        &:hover {
            .list-hide-approche {
                max-height: 150px;
            }
        }

        .list-hide-approche {
            max-height: 0;
            overflow: hidden;
            transition: 1s;
            display: block;
            // margin-top: 1rem;
            position: relative;
            // padding-top: 1rem;

            &::before {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $marron;
                margin-bottom: 1rem;
                margin-top: 1rem;
            }

            ul {
                li {
                    position: relative;
                    padding-left: 1.5rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: .7rem;

                    &::before {
                        content: "";
                        width: .5rem;
                        height: .5rem;
                        background-color: $orange;
                        border-radius: 50%;
                        position: absolute;
                        left: .25rem;
                    }

                    &::after {
                        content: "";
                        width: 1rem;
                        height: 1rem;
                        background-color: rgba($color: $orange, $alpha: .3);
                        border-radius: 50%;
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }

    .content-question-conception-accueil {
        margin-top: 4rem;
        background-color: $secondary;
        color: $beige;
        padding: 2rem;
        border-radius: 15px;
        width: 90%;
        max-width: 1000px;
        margin-inline: auto;

        h4 {
            font-size: 36px;
            font-family: "Playfair Display";
            line-height: 36px;

            margin-bottom: 1rem;
        }

        .texte-question-conception {
            margin-bottom: 2rem;

            p {
                margin-bottom: 0;
            }
        }
    }
}

// END APPROCHE & PHILOSOPHIE 

// BLOG
.content-blog-accueil {
    background-color: #ffffff;
    color: $marron;

    .projet-card {
        border-radius: 15px;
        overflow: hidden;
        background-color: $white;

        >div {
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                height: 350px;
            }

            .text-card {
                padding: 2rem;

                h4 {
                    font-size: 24px;
                    font-family: "Playfair Display";
                    line-height: 24px;

                    margin-bottom: .5rem;
                }
            }
        }
    }

    .next-prev {
        .btn-next-prev {
            border: 2px solid $white;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
        }

        .indicator {
            width: 12px;
            height: 12px;
            background-color: $white;
            border-radius: 50%;
            transition: .3s;

            &.active-card-indicator {
                background-color: $orange;
            }
        }
    }
}

// /* Container du carousel */
// .projets-grid.carousel {
//     display: flex;
//     overflow-x: auto;
//     scroll-behavior: smooth;
//     scroll-snap-type: x mandatory;
//     scrollbar-width: none;
//     /* Firefox */
//     -ms-overflow-style: none;
//     /* IE/Edge */
// }

// .projets-grid.carousel::-webkit-scrollbar {
//     display: none;
//     /* Chrome/Safari */
// }

// /* Cards du carousel */
// .carousel-item {
//     flex: 0 0 auto;
//     scroll-snap-align: center;
//     opacity: 0.5;
//     transform: scale(0.9);
//     transition: all 0.4s ease;
//     width: 100%;
//     max-width: 400px;
// }

// .carousel-item.active-card {
//     opacity: 1;
//     transform: scale(1);
// }

// /* Responsive */
// @media (max-width: 768px) {
//     .carousel-item {
//         max-width: 90%;
//     }

//     .btn-next-prev {
//         width: 40px;
//         height: 40px;
//         font-size: 16px;
//     }

//     .btn-prev {
//         margin-right: 1rem;
//     }

//     .btn-next {
//         margin-left: 1rem;
//     }
// }

// /* Animation au chargement */
// @keyframes fadeInUp {
//     from {
//         opacity: 0;
//         transform: translateY(30px);
//     }

//     to {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }

// .carousel-item {
//     animation: fadeInUp 0.6s ease-out;
// }

// END BLOG
// RESSOURCES OFFERTES
.content-ro-accueil {
    background-color: $beige;
    color: $marron;

    .card-ro-accueil {
        background-color: white;
        padding: 2rem;
        border-radius: 15px;

        &::before {
            font-family: 'Font Awesome 6 Free';
            content: '\f15c';
            font-size: 30px;
            color: $orange;
            background-color: $beige;
            min-width: 45px;
            width: 45px;
            min-height: 45px;
            height: 45px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .content-card-ro-accueil {
            padding-right: 45px;

            .title-icon {

                h4 {
                    font-size: 24px;
                    font-family: 'Playfair Display';
                    line-height: 24px;
                }
            }

            .pages {
                color: $secondary;
                margin-block: .5rem;

                .type-file {
                    text-transform: uppercase;

                    &::before {
                        content: '•';
                        margin-inline: .3rem;
                    }
                }
            }
        }
    }
}

// END RESSOURCES OFFERTES


// CONTACT
.contact-accueil {
    background-color: $secondary;
    color: $beige;

    .tag-home {
        color: $beige;
    }

    h2,
    h3 {
        color: $beige;

        &::before {
            background-color: $beige;
        }
    }

    .content-groupe-contact-accueil {
        text-align: center;

        .dashicons {
            font-size: 2rem;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba($color: $beige, $alpha: .2);
            border: 1px solid rgba($color: $beige, $alpha: .2);
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-bottom: .5rem;
        }

        h4 {
            font-weight: bold;
            margin-bottom: .5rem;
        }

        .description {
            font-size: 14px;
        }
    }

}

// END CONTACT