@use "globals" as *;


section {
    padding: 4rem 120px;
}

.content-img-header {
    padding: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: $marron, $alpha: .64);
        z-index: 1;
    }


    h1 {
        font-size: 48px;
        font-family: "Playfair Display", serif;
        color: $beige;
    }

    h2 {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 13px;
        color: $beige;
        margin-top: 1rem;

        &::before {
            content: '';
            height: 1px;
            width: 50px;
            background-color: $beige;
        }
    }
}

.content-links {

    background-color: $background-primary;

    h1 {
        color: black;
        font-family: 'Playfair Display', serif;
        font-size: 52px;
    }

    h2 {
        color: $marron;
        font-size: 30px;
        font-weight: 300;
    }

    h3 {
        color: $secondary;
        font-size: 18px;
        font-weight: 400;
    }
}

.content-ma-vision {
    background-color: $beige;

    .tag {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1rem;
        color: $secondary;
        text-transform: uppercase;
        margin-bottom: 1rem;

        &::before {
            content: '';
            width: 1rem;
            height: 1rem;
            background-color: $orange;
            border-radius: 50%;
        }
    }

    h2 {
        font-family: "Playfair Display", serif;
        font-size: 36px;
        color: $marron;
    }

    h3 {
        display: flex;
        align-items: center;
        color: $marron;
        font-size: 18px;
        gap: 13px;
        margin-bottom: 3.5rem;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $marron;
        }
    }

    img {
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .texte-ma-vision {
        color: $marron;
        font-size: 1rem;
        line-height: 1.8;
        padding: 1rem 0;

        p {
            margin-bottom: .5rem;
        }

        a {
            color: $orange;
            display: inline-flex;
            align-items: center;
            gap: 1rem;
            font-size: 18px;
            border-bottom: 1px solid $orange;
            position: relative;

            &::after {
                font-family: "FontAwesome";
                content: '\f061';
                transition: .3s;
                position: absolute;
                right: -2rem;
                z-index: 12;
            }

            &:hover {
                &::after {
                    transform: translateX(.5rem);
                }
            }
        }
    }
}