@use "globals" as *;

header {
    display: flex;
}

.content-header {
    display: flex;
    background-color: $marron;
    left: 0;
    // padding: 0 25px;
    position: fixed;
    top: 100vh;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 100vh;
    height: 80px;
    z-index: 5;

    >nav {
        justify-content: space-between;
        width: 100%;

        .content-logo-menu {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80px;
            width: 80px;
            border-left: 1px solid $orange;

            #menu-toggle {
                padding-left: 19px;
                width: 100%;
                height: 100%;

                img {
                    transform: rotate(90deg);
                    width: 40px;
                }
            }
        }

        .logo-menu-home {
            width: 115px;
        }

        .calendly {
            width: 50px;
            height: 50px;
            font-size: 2rem;
            transform: rotate(90deg);
            border-radius: 50%;
            fill: $beige;
        }
    }

    //MENU
    .menu-menu-principal-container {
        width: 100%;
    }
}

.menu-plied {
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: $marron;
    height: 100%;
    border-left: 1px solid $orange;
    transform: translateX(-321px);
    max-width: 400px;
    transition: .5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.menu-open {
        transform: translateX(80px);
        opacity: 1;
    }

    .menu-menu-principal-container {}

    #menu-menu-principal {
        padding: 0;

        >li {
            justify-content: center;
            height: 79px;

            &:not(:first-child) {
                border-top: 1px solid $orange;
            }


            &:last-child {
                border-bottom: 1px solid $orange;
            }

            &.current-menu-item {
                a {
                    color: $orange;
                }
            }

            >a {
                font-size: 18px;
                padding: .5rem 3rem;
                text-transform: uppercase;
            }

            .sub-menu {
                &::before {
                    display: none;
                }

                li {
                    a {
                        padding: .5rem 3rem;
                    }
                }
            }
        }

        a:hover {
            background: none;
            color: $orange;
        }
    }

    #menu-second-menu {
        padding: 0;

        a {
            padding: 0.5rem 3rem;
            background: none;
            text-transform: uppercase;
            &:hover {
                color: $orange;
            }
        }
    }
}