@use "globals" as *;

.site-container-left {
    z-index: 1000;
    transition: .2s;

    #menu-toggle {
        width: 100%;
        position: relative;
        padding-bottom: 30px;

        .img-menu {
            width: 100%;
            height: 60px;
            background-size: contain;
            transition: .2s;
            background-repeat: no-repeat;
            background-position: center;
        }

        .show-hover {
            position: absolute;
            bottom: 0px;
            transition: .2s;
            opacity: 0;
        }

        &:hover {
            .show-hover {
                opacity: 1;
            }
        }
    }

    #menu-menu-principal {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-inline: 1.5rem;

        li {

            a {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0;
                font-size: 15px;
                transition: .2s;

                &:hover {
                    background: none;
                }
            }

            &.current-menu-item {
                a {
                    &::before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: -12px;
                    }
                }
            }
        }
    }
}

// Background - logo - color menu - bg before active - button
.header-marron {
    background-color: $marron;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-crème.png');
    }

    .show-hover {
        color: $blue;
    }

    #menu-menu-principal {
        li {
            a {
                color: $blue;
            }

            &.current-menu-item {
                a::before {
                    background-color: $blue;
                }
            }
        }
    }
}

.header-rose {
    background-color: $rose;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');
    }

    .show-hover {
        color: $desert;
    }

    #menu-menu-principal {
        li {
            a {
                color: $desert;
            }

            &.current-menu-item {
                a::before {
                    background-color: $desert;
                }
            }
        }
    }
}

.header-floral {
    background-color: $floral;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');
    }

    .show-hover {
        color: $rose;
    }

    #menu-menu-principal {
        li {
            a {
                color: $rose;
            }

            &.current-menu-item {
                a::before {
                    background-color: $rose;
                }
            }
        }
    }
}

.header-desert {
    background-color: $desert;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');
    }

    .show-hover {
        color: $coperwood;
    }

    #menu-menu-principal {
        li {
            a {
                color: $coperwood;
            }

            &.current-menu-item {
                a::before {
                    background-color: $coperwood;
                }
            }
        }
    }
}