@use "globals" as *;

@media (width < 48rem) {
    .customize-support {
        // #main-header {
        //     margin-top: 46px;
        // }
    }
}

.site-container-left {
    z-index: 1000;
    transition: .2s;


    #menu-toggle {
        width: 100%;
        position: relative;

        .img-menu {
            width: 100%;
            height: 60px;
            background-size: contain;
            transition: .2s;
            background-repeat: no-repeat;
            background-position: center;

            @media (width < 48rem) {
                width: 35px;
                height: 46px;
            }
        }

        .show-hover {
            position: absolute;
            bottom: -30px;
            transition: .2s;
            opacity: 0;

            @media (width < 48rem) {
                display: none;
            }
        }

        &:hover {
            .show-hover {
                opacity: 1;
            }
        }
    }

    .responsive-menu {
        button {
            // padding: 1rem;
            // cursor: pointer;
            // color: $floral;
            // font-weight: bold;
            // font-size: 20px;
            // font-family: 'Newsreader';
            // transition: .2s;
            // background-color: $floral;
        }
    }

    .icones {
        height: calc((1/3) * 100%);
    }

    .liens {
        height: calc((2/3) * 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (width < 48rem) {
        .liens {
            max-height: 0;
            overflow: hidden;
            transition: .5s;
            gap: 2rem;

            &.show-liens {
                margin-top: 2rem;
                max-height: 100vh;
            }
        }
    }

    #menu-menu-principal {
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-inline: 1.5rem;

        @media (width < 48rem) {
            margin: auto;
        }

        li {
            &:nth-child(odd){
                a {
                    font-family: "Newsreader";
                }
            }
            a {
                position: relative;
                display: flex;
                align-items: center;
                padding: 0;
                font-size: 15px;
                transition: .2s;

                @media (width < 48rem) {
                    display: block;
                    text-align: center;
                    font-size: 30px;
                }

                &:hover {
                    background: none;
                }
            }

            &.current-menu-item {
                a {
                    &::before {
                        content: '';
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        position: absolute;
                        left: -12px;

                        @media (width < 48rem) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

// Background - logo - color menu - bg before active - button
.header-marron {
    background-color: $marron;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-floral.png');
        width: 137px;

        @media (width < 48rem) {
            background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-floral.png');
        }

    }

    .responsive-menu {
        button {
            // color: $floral;
        }
    }

    .show-hover {
        color: $blue;
    }

    #menu-menu-principal {
        li {
            a {
                color: $blue;
            }

            &.current-menu-item {
                a::before {
                    background-color: $blue;
                }
            }
        }
    }
}

.header-rose {
    background-color: $rose;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');

        @media (width < 48rem) {
            background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-marron.png');
        }
    }

    // .responsive-menu {
    //     button {
    //         color: $desert;
    //     }
    // }

    .show-hover {
        color: $desert;
    }

    #menu-menu-principal {
        li {
            a {
                color: $desert;
            }

            &.current-menu-item {
                a::before {
                    background-color: $desert;
                }
            }
        }
    }
}

.header-floral {
    background-color: $floral;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');

        @media (width < 48rem) {
            background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-marron.png');
        }
    }

    // .responsive-menu {
    //     button {
    //         color: $rose;
    //     }
    // }

    .show-hover {
        color: $rose;
    }

    #menu-menu-principal {
        li {
            a {
                color: $rose;
            }

            &.current-menu-item {
                a::before {
                    background-color: $rose;
                }
            }
        }
    }
}

.header-desert {
    background-color: $desert;

    .img-menu {
        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-logo-marron.png');

        @media (width < 48rem) {
            background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-marron.png');
        }
    }

    // .responsive-menu {
    //     button {
    //         color: $coperwood;
    //     }
    // }

    .show-hover {
        color: $coperwood;
    }

    #menu-menu-principal {
        li {
            a {
                color: $coperwood;
            }

            &.current-menu-item {
                a::before {
                    background-color: $coperwood;
                }
            }
        }
    }
}