@use "globals" as *;

header {
    display: flex;
    background-color: $marron;
    left: 0;
    padding: 0 25px;
    position: fixed;
    top: 100vh;
    transform: rotate(-90deg);
    transform-origin: top left;
    width: 100vh;
    height: 5rem;
    z-index: 5;

    >nav {
        width: 100%;
    }

    //MENU
    .menu-menu-principal-container {
        width: 100%;
    }

    #menu-menu-principal {
        width: 100%;
        padding: 0;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 1rem;

        &>.current-menu-item {
            a {
                color: $orange !important;

                &::before {
                    background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-orange.png') !important;
                }
            }
        }

        >li:first-child {

            a {
                display: flex;
                flex-direction: row-reverse;
                gap: 1rem;
                padding-right: 3.5rem !important;
                // font-size: 0;

                &::before {
                    transform: rotate(90deg);
                    background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-clair.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline;
                    position: absolute;
                    width: 30px;
                    height: 40px;
                    right: 0;
                    content: "";
                    transition: .2s;
                }

                &:hover {
                    &::before {
                        background-image: url('../assets/images/marie-heuman-architecte-interieur-tours-blois-monogramme-orange.png');
                    }
                }
            }
        }

        >li:last-child {

            a {
                width: 56px;
                font-size: 0;
                padding: 0;

                &::after {
                    font-family: "FontAwesome";
                    content: "\f133";
                    transform: rotate(90deg);
                    background-color: $orange;
                    border-radius: 50%;
                    font-size: 2rem;
                    width: 56px;
                    height: 56px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;
                    transition: .2s;
                }

                &:hover {
                    background: none;

                    &::after {
                        background-color: $beige;
                        color: $orange;
                    }
                }
            }
        }

        li:not(:last-child) {
            a {
                padding: 1rem;
                font-size: 1rem;
                transition: .2s;
                color: $beige;
                text-transform: uppercase;
                background-color: $marron;
                border-radius: 50px;

                &:hover {
                    color: $orange;
                    transform: rotate(45deg) translateX(50px);
                }
            }
        }
    }
}