@use "globals" as *;

//BUTTONS

@mixin marron-button {
    color: $light;
    background-color: $marron;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
    display: inline-block;

    &:hover {
        border: 1px solid $secondary;
        background-color: $secondary;
    }
}

@mixin border-marron-button {
    color: $marron;
    background-color: transparent;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: $marron;
        color: $light;
    }
}

@mixin active-border-marron-button {
    color: $light;
    background-color: $marron;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
}

@mixin secondary-button {
    color: $marron;
    background-color: transparent;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    display: inline-block;

    &:hover {
        background-color: $marron;
        color: $light;
    }
}

@mixin orange-button {
    color: $beige;
    background-color: $orange;
    border: 2px solid $orange;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;

    &:hover {
        background-color: $marron;
        border-color: $marron;
    }
}

@mixin border-orange-button {
    color: $orange;
    background-color: transparent;
    border: 2px solid $orange;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;

    &:hover {
        background-color: $orange;
        color: $beige;
    }
}

@mixin beige-button {
    color: $beige;
    background-color: $orange;
    border: 2px solid $orange;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;

    &:hover {
        background-color: $marron;
        border-color: $marron;
    }
}

@mixin border-beige-button {
    color: $beige;
    background-color: transparent;
    border: 2px solid $beige;
    padding: 1rem 3rem;
    border-radius: 100px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;

    &:hover {
        background-color: $beige;
        color: $orange;
    }
}

// FONTAWESOME
@mixin fas {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

@mixin far {
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
}

@mixin fab {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
}