@use "globals" as *;

//BUTTONS

@mixin marron-button {
    color: $white;
    background-color: $marron;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;

    &:hover {
        border: 1px solid $secondary;
        background-color: $secondary;
    }
}

@mixin border-marron-button {
    color: $marron;
    background-color: transparent;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;

    &:hover {
        background-color: $marron;
        color: $white;
    }
}

@mixin active-border-marron-button {
    color: $white;
    background-color: $marron;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    border-radius: 50px;
}

@mixin secondary-button {
    color: $marron;
    background-color: transparent;
    padding: 10px 30px;
    transition: .3s;
    border: 1px solid $marron;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $marron;
        color: $white;
    }
}

@mixin orange-button {
    color: $beige;
    background-color: $orange;
    border: 2px solid $orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 18px;
    transition: .3s;
    display: table;
    cursor: pointer;

    &:hover {
        background-color: $caramel;
        border-color: $caramel;
    }
}

@mixin border-orange-button {
    color: $orange;
    background-color: transparent;
    border: 2px solid $orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $orange;
        color: $beige;
    }
}

@mixin beige-button {
    color: $beige;
    background-color: $orange;
    border: 2px solid $orange;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $marron;
        border-color: $marron;
    }
}

@mixin border-beige-button {
    color: $beige;
    background-color: transparent;
    border: 2px solid $beige;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border-radius: 15px;
    font-size: 18px;
    transition: .3s;
    display: inline-block;
    cursor: pointer;

    &:hover {
        background-color: $beige;
        color: $orange;
    }
}

@mixin second-link {
    font-size: 20px;
    display: block;
    color: $beige;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: .3s;
    width: fit-content;
    text-align: left;

    &:hover {
        color: $white;
        border-color: $white;
    }
}

@mixin second-link-orange {
    @include second-link;
    color: $orange;
    border-color: $orange;

    &:hover {
        color: $caramel;
        border-color: $caramel;
    }
}

@mixin second-link-secondary {
    @include second-link;
    color: $secondary;
    border-color: $secondary;

    &:hover {
        color: $light-secondary;
        border-color: $light-secondary;
    }
}

// FONTAWESOME
@mixin fas {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
}

@mixin far {
    font-family: 'Font Awesome 6 Free';
    font-weight: 400;
}

@mixin fab {
    font-family: 'Font Awesome 6 Brands';
    font-weight: 400;
}

@mixin icone-svg {
    margin-bottom: .5rem;
    width: fit-content;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        width: 37px;
        height: 37px;
        min-width: 37px;
        min-height: 37px;

        svg {
            width: 23px
        }
    }
}

@mixin icone-beige {
    @include icone-svg;
    background-color: $white;

    svg {
        fill: $orange;
    }
}

@mixin icone-white {
    @include icone-svg;
    background-color: $beige;

    svg {
        fill: $orange;
    }
}