@use "globals" as *;
@use "buttons";
@use "fontawesome";

.newsletter-block {
    background-color: $secondary;
    padding: 2rem;
    color: $beige;
    border-radius: 15px;
    margin: 5rem auto;
    max-width: 1000px;

    h2 {
        color: $beige !important;
        margin-bottom: 1.5rem;
    }

    p {
        margin-bottom: 1rem;

        &.beige {
            color: $white;
        }
    }

    form {
        .cgu {
            label {

                a {
                    color: $white;
                    text-decoration: underline;
                }
            }
        }
    }
}