@use "globals" as *;

// HEADER
.header-content {
    background-color: white;
    color: $marron;

    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        color: $marron;
    }

    h2 {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        color: $marron;
        font-size: 20px;
        gap: 13px;
        margin-bottom: 3.5rem;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $marron;
        }
    }
}

.header-content-without-link {
    h2 {
        margin-bottom: 0 !important;
    }
}

// END HEADER
// ACCOMPAGNEMENT
.accompagnements {
    background-color: $beige;
    color: $marron;

    .titre-description-top {
        margin-bottom: 3rem;

        p {
            max-width: 1000px;
        }

    }

    .accompagnement {
        margin-bottom: 5rem;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        .left-accompagnement {
            position: relative;

            .index {
                position: absolute;
                left: -25px;
                top: -25px;
                width: 50px;
                height: 50px;
                background-color: $orange;
                border-radius: 50%;
                color: $beige;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;

                @media screen and (max-width: 1200px) {
                    width: 30px;
                    height: 30px;
                    top: -15px;
                    left: -15px;
                }

            }

            img {
                border-radius: 15px;
                border-top-left-radius: 0;
                height: 100%;
                object-fit: cover;
            }
        }

        .right-accompagnement {
            .tag-champ {
                text-transform: uppercase;
                color: $orange;
                margin-bottom: 1rem;
                display: block;
            }

            .titre-description {
                h4 {
                    font-family: "Playfair Display";
                    font-size: 24px;
                    margin-bottom: 1.2rem;
                    font-weight: bold;
                }

                p {
                    max-width: 1000px;
                }

                ul {
                    margin-top: 2rem;

                    li {
                        position: relative;
                        align-items: center;
                        padding-left: 2rem;
                        margin-bottom: .5rem;

                        &::before {
                            content: "";
                            width: 1rem;
                            height: 1rem;
                            background-color: rgba($color: $secondary, $alpha: .3);
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 0.25rem;
                        }

                        &::after {
                            content: "";
                            width: .5rem;
                            height: .5rem;
                            background-color: $secondary;
                            border-radius: 50%;
                            position: absolute;
                            left: .25rem;
                            top: .5rem;
                        }
                    }
                }
            }
        }
    }
}

// ENGAGEMENTS
.engagements {
    background-color: white;
    color: $marron;

    .card-engagement {
        border-radius: 15px;
        // background-color: $beige;
        padding: 3rem;

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        .dashicons {
            background-color: rgba($color: $secondary, $alpha: .3);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            font-size: 1.5rem;
            margin-bottom: 1rem;

            svg {
                fill: $secondary;
            }
        }

        .titre-description {
            h4 {
                font-family: "Playfair Display";
                font-size: 24px;
                margin-bottom: 1rem;
                font-weight: bold;
            }

            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

// END ENGAGEMENTS

// COLLBORATION
.collaboration {
    background-color: $beige;
    color: $marron;

    h3 {
        font-size: 20px;
    }

    >p {
        max-width: 1000px;
    }

    .selectors {
        .selector-slide {
            color: $marron;
            border: 1px solid $marron;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            width: 46px;
            height: 46px;
            position: relative;
            border-radius: 50%;
            margin-block: 3rem;
            padding: 0;
            cursor: pointer;
            transition: .3s;

            &.active-border-marron-button {
                color: $beige;
            }

            &:hover {
                background-color: $marron;
                color: $beige;
            }

        }

        .point {
            width: 10px;
            height: 10px;
            background-color: $marron;
            display: block;
            border-radius: 50%;
            cursor: initial;
        }
    }

    .card-collaboration {
        padding: 2rem 3rem;
        border-radius: 15px;
        max-width: 1000px;
        margin: auto;
        display: none;
        transition: .3s;
        margin-bottom: 5rem;

        &.active-collaboration {
            display: block;
            animation: fadeIn .5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .dashicons {
            background-color: $white;
            color: $orange;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 48px;
            min-width: 48px;
            height: 48px;
            border-radius: 50%;
            font-size: 1.5rem;
        }

        h4 {
            font-family: 'Playfair Display';
            font-size: 24px;
            margin-bottom: 1rem;
            font-weight: bold;
        }

        .offre {
            color: $secondary;
            margin-bottom: 1.5rem;
            font-size: 18px;
            display: block;
        }
    }

    .reservation {
        max-width: 1000px;
        margin: auto;
        padding: 2rem 3rem;
        background-color: $secondary;
        border-radius: 15px;
        color: $beige;

        @media screen and (max-width: 767px) {
            padding: 20px;
        }

        h2 {
            margin-bottom: 1.5rem;
            color: $beige;
            font-size: 36px;
            font-family: "Playfair Display";
        }

        p {
            margin-bottom: 2.5rem;
        }
    }
}

// END COLLABORATION

// RESSOURCES
.ressources {
    color: $marron;

    .card-ro-accueil {
        background-color: $white;

        &::after {
            background-color: $beige;
        }
    }
}

// END RESSOURCES

#expertise {
    section:not(.header-content) {
        h2 {
            margin-bottom: .5rem;
            font-size: 36px;
            font-family: "Playfair Display";

            &::before {
                display: none;
            }
        }
    }
}

.content {
    .tag-home:not(:first-child) {
        margin-top: 2rem;
    }

    ol {
        list-style: lower-alpha;

        >li {
            margin-left: 1rem;
            margin-bottom: 1rem;
            font-weight: bold;

            >ul {
                font-weight: normal;

                >li {
                    >ul {
                        >li {
                            margin-left: 1rem;
                            list-style: disc;
                        }
                    }
                }

            }
        }
    }

    >ul {
        >li {
            list-style: disc;
            margin-left: 1rem;
        }
    }
}