@use "globals" as *;

// HEADER
.header-content {
    background-color: white;
    color: $marron;

    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        color: $marron;
    }

    h2 {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        color: $marron;
        font-size: 20px;
        gap: 13px;
        margin-bottom: 3.5rem;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $marron;
        }
    }
}

// END HEADER
// ACCOMPAGNEMENT
.accompagnements {
    background-color: $beige;
    color: $marron;

    .titre-description {
        margin-bottom: 3rem;
    }

    .accompagnement {
        margin-bottom: 4rem;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        .left-accompagnement {
            position: relative;

            .index {
                position: absolute;
                left: -25px;
                top: -25px;
                width: 50px;
                height: 50px;
                background-color: $orange;
                border-radius: 50%;
                color: $beige;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
            }

            img {
                border-radius: 30px;
                border-top-left-radius: 0;
                height: 100%;
                object-fit: cover;
            }
        }

        .right-accompagnement {
            .tag-champ {
                text-transform: uppercase;
                color: $orange;
                margin-bottom: 1rem;
                display: block;
            }

            .titre-description {
                h4 {
                    font-family: "Playfair Display";
                    font-size: 24px;
                    margin-bottom: 1.2rem;
                    font-weight: bold;
                }

                ul {
                    margin-top: 2rem;

                    li {
                        position: relative;
                        display: flex;
                        align-items: center;
                        padding-left: 2rem;
                        margin-bottom: .5rem;

                        &::before {
                            content: "";
                            width: 1.5rem;
                            height: 1.5rem;
                            background-color: rgba($color: $secondary, $alpha: .3);
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                        }

                        &::after {
                            content: "";
                            width: .75rem;
                            height: .75rem;
                            background-color: $secondary;
                            border-radius: 50%;
                            position: absolute;
                            left: 6px;
                        }
                    }
                }
            }
        }
    }
}