@use "globals" as *;
@use "buttons";
@use "fontawesome";



// LIST PROJETS
#list-projets {
    .blog-filters {
        margin-top: 3rem;
    }

    .titre {

        h3 {
            font-size: 36px;
            font-family: 'Playfair Display';
            margin-bottom: 1rem;

            &::before {
                display: none;
            }
        }

        p {
            font-size: 18px;
            position: relative;
            padding-left: 63px;

            &::before {
                content: "";
                width: 50px;
                height: 1px;
                background-color: $marron;
                position: absolute;
                left: 0;
                top: 11px;
            }
        }
    }

    .card-article {
        position: relative;
        overflow: hidden;
        border-radius: 30px;

        &:hover {
            .text-card {
                transform: translateY(0);
            }

            img {
                transform: scale(1.2);
            }
        }

        img {
            border-radius: 30px;
            min-height: 650px;
            object-fit: cover;
            transition: .3s;
        }

        .text-card {
            padding: 2rem 3rem;
            position: absolute;
            bottom: 0;
            background-color: white;
            width: 100%;
            transform: translateY(100%);
            transition: .3s;
        }
    }


    // AVIS
    .temoignages {
        background-color: white;

        .swiper {
            width: 90%;
            max-width: 900px;
            margin-top: 3rem;

            .swiper-slide {
                background-color: $beige;
                border-radius: 30px;
                padding: 3rem;

                .nom {
                    margin-top: 1.5rem;
                    color: $secondary;
                    margin-left: auto;
                    padding-top: .5rem;
                    border-top: 1px solid $secondary;
                    width: fit-content;
                }
            }
        }
    }

    // END AVIS
    .accompagnements {
        background-color: $secondary;
        color: $beige;

        .titre {

            h3,
            p {
                color: $beige;
            }

            p {
                &::before {
                    background-color: $beige;
                }
            }
        }
    }
}