@use "globals" as *;
@use "buttons";
@use "fontawesome";



// LIST PROJETS
#list-projets {
    .blog-filters {
        margin-top: 3rem;
    }

    .titre {

        h3 {
            font-size: 36px;
            font-family: 'Playfair Display';
            line-height: 36px;

            margin-bottom: 1rem;

            &::before {
                display: none;
            }
        }

        p {
            font-size: 18px;
            position: relative;
            padding-left: 63px;

            &::before {
                content: "";
                width: 50px;
                height: 1px;
                background-color: $marron;
                position: absolute;
                left: 0;
                top: 11px;
            }
        }
    }

    .card-article {
        position: relative;
        overflow: hidden;
        border-radius: 15px;

        &:hover {
            .text-card {
                transform: translateY(0);
            }

            img {
                transform: scale(1.2);
            }
        }

        img {
            border-radius: 15px;
            min-height: 650px;
            object-fit: cover;
            transition: .6s;
        }

        .text-card {
            padding: 2rem 3rem;
            position: absolute;
            bottom: 0;
            background-color: white;
            width: 100%;
            transform: translateY(100%);
            transition: .3s;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
    }


    // AVIS
    .temoignages {
        background-color: white;

        .swiper {
            width: 90%;
            max-width: 900px;
            margin-top: 3rem;

            .swiper-slide {
                background-color: $beige;
                border-radius: 15px;
                padding: 3rem;

                .nom {
                    margin-top: 1.5rem;
                    color: $secondary;
                    margin-left: auto;
                    padding-top: .5rem;
                    border-top: 1px solid $secondary;
                    width: fit-content;
                }
            }
        }
    }

    // END AVIS
    .accompagnements {
        background-color: $secondary;
        color: $beige;

        .titre {

            h3,
            p {
                color: $beige;
            }

            p {
                &::before {
                    background-color: $beige;
                }
            }
        }
    }
}

// PROJET SINGLE

.left-projet {
    background-color: $beige;
    padding: 2rem;
    border-radius: 15px;

    li {
        &:not(:last-child) {
            margin-bottom: .7rem;
        }

        &::before {
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            margin-right: 8px;
        }
    }

    .date {
        &::before {
            content: "\f133";
        }
    }

    .localisation {
        &::before {
            content: "\f3c5";
        }
    }

    .surface {
        &::before {
            content: "\f424";
        }
    }

    .type {
        &::before {
            content: "\f0b1";
        }
    }

    .tarifs {
        &::before {
            content: "\f153";
        }
    }
}

.swiperProjectPage,
.avant-apres .swiper {
    border-radius: 15px;

    .swiper-wrapper {

        .swiper-slide {
            max-width: 80%;
            height: auto;
            width: auto;

            img {
                border-radius: 15px;
                height: 100%;
                max-height: 70vh;
                width: auto;
                // margin: auto;
                object-fit: cover;
            }
        }
    }
}

.page-projet {
    .section-white {
        padding-top: 0;
    }

    .parti-pris {
        padding: 0 2rem;
        max-width: 1000px;
        margin: auto;

        p {
            margin-bottom: 1rem;
        }
    }

    .avant-apres {
        background-color: white;

        .content-avant-apres {
            display: none;
        }

        .active-avant-apres {
            display: block;
            animation: fadeIn .5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .votre-projet {
        background-color: $secondary;
        color: $beige;

        h2 {
            font-size: 36px;
            font-family: 'Playfair Display';
            line-height: 36px;

            color: $beige;
            margin-bottom: 1rem;

            &::before {
                display: none;
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }
}