@use "globals" as *;
@use "buttons";
@use "fontawesome";



// LIST PROJETS
#list-projets {
    .blog-filters {
        margin-top: 3rem;
    }

    .card-article {
        position: relative;
        overflow: hidden;
        border-radius: 15px;

        @media screen and (min-width: 767px) {
            &:hover {
                .text-card {
                    transform: translateY(0);
                }

                img {
                    transform: scale(1.2);
                }
            }
        }

        img {
            border-radius: 15px;
            min-height: 650px;
            object-fit: cover;
            transition: .6s;
        }

        .show-hide {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $orange;
            background-color: $beige;
            color: $orange;
            width: 36px;
            height: 36px;
            z-index: 2;

            button {
                cursor: pointer;
                font-size: 1.5rem;
                width: 100%;
                height: 100%;
            }

            .hide {
                display: none;
            }
        }

        .text-card {
            padding: 2rem 3rem;
            position: absolute;
            bottom: 0;
            background-color: $beige;
            width: 100%;
            transform: translateY(100%);
            transition: .3s;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            @media screen and (max-width: 767px) {
                padding: 20px;
            }


            h4 {
                font-family: 'Playfair Display';
                font-size: 24px;
                font-weight: bold;
                margin-bottom: .5rem;
            }
        }

        &.text-card-visible {
            .text-card {
                transform: translateY(0);
            }

            img {
                transform: scale(1.2);
            }

            .show {
                display: none;
            }

            .hide {
                display: block;
            }
        }
    }

    .accompagnements {
        background-color: $secondary;
        color: $beige;

        .titre {

            h2 {}

            h3,
            h2,
            p {
                color: $beige;
            }

            h3 {
                margin-bottom: 0;

                &::before {
                    background-color: $beige;
                }
            }
        }
    }
}

.swiperAvis {
    max-width: 1000px;

    .swiper-wrapper {
        align-items: flex-end;

        .swiper-slide {
            background-color: $white;
            border-radius: 15px;
            padding: 3rem;

            @media screen and (max-width: 767px) {
                padding: 2rem;
            }

            .nom {
                margin-top: 1.5rem;
                color: $secondary;
                margin-left: auto;
                padding-top: .2rem;
                border-top: 1px solid $secondary;
                width: fit-content;
            }
        }
    }
}

// PROJET SINGLE

.left-projet {
    padding: 2rem;
    border-radius: 15px;

    @media screen and (max-width: 767px) {
        padding: 2rem;
    }

    li {
        &:not(:last-child) {
            margin-bottom: .7rem;
        }

        svg {
            fill: $marron;
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: .5rem;
        }
    }
}

.swiperProjectPage,
.avant-apres .swiper {
    border-radius: 15px;

    .swiper-wrapper {

        .swiper-slide {
            max-width: 80%;
            height: auto;
            width: auto;

            img {
                border-radius: 15px;
                height: 100%;
                max-height: 70vh;
                width: auto;
                // margin: auto;
                object-fit: cover;
            }
        }
    }
}

.page-projet {

    .parti-pris {
        padding: 3rem;
        max-width: 1000px;
        margin: auto;
        border-radius: 15px;

        @media screen and (max-width: 767px) {
            padding: 2rem;
        }

        p:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .avant-apres {

        .selectors {
            margin-bottom: 3rem;

            ul {
                li {

                    &:not(:last-child) {
                        display: flex;
                        align-items: center;
                        gap: 1rem;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: #462620;
                            border-radius: 50%;
                            display: block;
                        }
                    }
                }
            }
        }

        .content-avant-apres {
            display: none;
        }

        .active-avant-apres {
            display: block;
            animation: fadeIn .5s;
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }

    .identite {
        img {
            border-radius: 15px;
        }
    }

    .votre-projet {
        background-color: $secondary;
        color: $beige;

        h2 {
            font-size: 36px;
            font-family: 'Playfair Display';
            color: $beige;
            margin-bottom: 1rem;

            &::before {
                display: none;
            }
        }

        p {
            margin-bottom: 2rem;
        }
    }

    .swiperProjetsRecents {
        .swiper-slide {
            position: relative;
            height: auto;
            width: auto;

            a {
                display: block;
                overflow: hidden;
                border-radius: 15px;
                height: 100%;

                &:hover {
                    img {
                        transform: scale(1.2);
                    }
                }

                h2 {
                    position: absolute;
                    bottom: 40px;
                    left: 40px;
                    color: $beige;
                    text-shadow: 0px 3px 15px black;
                    margin-bottom: 0;
                    z-index: 1;

                    &::before {
                        display: none;
                    }
                }



                img {
                    border-radius: 15px;
                    height: 100%;
                    max-height: 70vh;
                    width: auto;
                    object-fit: cover;
                    transition: .3s;
                }
            }
        }
    }
}