@use "globals" as *;
@use "buttons";
@use "menu";
@use "home";
@use "blog";
@use "faq";
@use "page";
@use "projet";
@use "histoire";
@use "footer";

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header-content {
    background-color: white;
    color: $marron;

}

.white-block {
    background-color: white;
    border-radius: 30px;
    padding: 1.5rem;
}

main:not(.front-page) {

    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        color: $marron;
    }

    h2 {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        color: $marron;
        font-size: 20px;
        gap: 13px;
        margin-bottom: 3.5rem;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $marron;
        }
    }
}

.rating {
    margin-bottom: 1rem;
    .star {
        width: auto;
        height: auto;
        font-size: 20px;
        background: none;

        &.full {
            color: $orange;
            opacity: 1;
        }
    }
}

.swiper-navigation {
    margin-top: 1.5rem;
    
    >div {
        position: relative;
        height: auto;
        width: auto;
        margin: 0;
        bottom: auto !important;
        top: auto !important;

        svg {
            color: $marron;
        }

        &.swiper-pagination {
            width: auto;

            .swiper-pagination-bullet {
                transition: .3s;

                &.swiper-pagination-bullet-active {
                    background-color: $orange;
                }

                &:hover {
                    background-color: $orange;
                    opacity: 1;
                }
            }
        }

        &.swiper-button-next,
        &.swiper-button-prev {
            border: 2px solid #f6f5f2;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: .3s;

            &:hover {
                border-color: $orange;
            }

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.blog-filters {
    margin-bottom: 3rem;

    li:not(:last-child) {
        display: flex;
        align-items: center;
        gap: 1rem;

        &::after {
            content: "";
            width: 10px;
            height: 10px;
            background-color: $marron;
            border-radius: 50%;
            display: block;
        }
    }

    .filter-btn {
        @extend .border-marron-button;

        &.active {
            @extend .marron-button;

            &:hover {
                background-color: $marron;
            }
        }
    }
}

.pagination {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .page-btn:not(.next):not(.prev) {
        width: 25px;
        min-width: 25px;
        height: 25px;
        border: 1px solid $marron;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &.active,
        &:hover {
            background-color: $marron;
            color: $beige;
        }

    }

    .page-btn {
        cursor: pointer;
    }
}

.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background: #2c6bed;
    color: white;
    border-radius: 6px;
}

.highlight-text {
    background: yellow;
    padding: 2px 4px;
}

.boxed-block {
    border: 2px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background: #fafafa;
}