@use "globals" as *;
@use "buttons";
@use "icone";
@use "menu";
@use "home";
@use "blog";
@use "faq";
@use "page";
@use "presse";
@use "projet";
@use "contact";
@use "histoire";
@use "footer";

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    line-height: normal;
}

img {
    max-height: 80vh;
}

section {
    padding: 5rem 160px;

    @media screen and (max-width: 1200px) {
        padding: 4rem 20px;

    }

    /* Votre couleur de base */
    position: relative;
    overflow: hidden;

}

@media screen and (max-width: 767px) {
    .header-content {
        padding-top: 144px;
    }
}

.section-white {
    position: relative;
    background-color: $beige;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* L'image JPEG de votre grain */
        background-image: url('../assets/images/grain-3.jpeg');
        opacity: 0.1;
        background-repeat: repeat;

        /* RÉGLAGES DE LÉGÈRETÉ */
        /* Entre 0.02 et 0.05 pour un effet quasi invisible mais présent */
        mix-blend-mode: multiply;
        /* Fusionne parfaitement le grain avec le beige */
        z-index: 0;
        pointer-events: none;
        /* Important : permet de cliquer sur les boutons en dessous */
    }

    >*,
    &::after {
        position: relative;
        z-index: 1;
        /* Place le contenu au-dessus du grain */
    }
}

.img-under-header {
    width: 100%;
    height: 150px;
    background-image: url('../assets/images/rayure-1.jpeg');
    background-attachment: fixed;
    // background-repeat: no-repeat;
    /* On empêche la répétition */
    // background-size: cover;
    /* L'image s'étire pour remplir tout l'espace */
    background-position: center;
}

.img-under-header-2 {
    width: 100%;
    height: 150px;
    background-image: url('../assets/images/rayure-2.jpeg');
    background-attachment: fixed;
    // background-repeat: no-repeat;
    /* On empêche la répétition */
    // background-size: cover;
    /* L'image s'étire pour remplir tout l'espace */
    background-position: bottom;
}

.loading {
    // background-color: red;
}

// STYLE WYSIWYG
.white-block {
    position: relative;
    background-color: $beige;
    border-radius: 15px;
    padding: 2rem;
    color: $marron;
    margin: 2.5rem 0;
    max-width: 1000px;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        /* L'image JPEG de votre grain */
        background-image: url('../assets/images/grain-3.jpeg');
        opacity: 0.1;
        background-repeat: repeat;

        /* RÉGLAGES DE LÉGÈRETÉ */
        /* Entre 0.02 et 0.05 pour un effet quasi invisible mais présent */
        mix-blend-mode: multiply;
        /* Fusionne parfaitement le grain avec le beige */
        z-index: 0;
        pointer-events: none;
        /* Important : permet de cliquer sur les boutons en dessous */
    }

    >*,
    &::after {
        position: relative;
        z-index: 1;
        /* Place le contenu au-dessus du grain */
    }
}


.beige-block {
    background-color: $white;
    border-radius: 15px;
    padding: 2rem;
    color: $marron;
    margin: 2.5rem 0;
    max-width: 1000px;
}

.citation {
    font-family: 'Playfair Display', serif;
    color: $secondary;
    font-size: 1.7rem;
    text-align: center;

    * {
        font-family: 'Playfair Display', serif;
    }
}

.mce-content-body {
    .swiper-wrapper {
        img {
            width: 150px;
        }
    }

    img {
        max-width: 300px;
    }

    h2 {
        margin-bottom: 1.5rem;
        margin-top: 5rem;
    }

    h3 {
        margin-bottom: 1.2rem;
    }
}

.header-content {
    .orange-list-container {
        margin-top: 3.5rem;
    }
}

.orange-list-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    li {
        color: $orange;
        background-color: $white;
        border-radius: 15px;
        padding: .5rem 1.5rem;
        display: inline-block;
    }
}

// END STYLE WYSIWYG

.section-beige {
    background-color: $white;
    color: $marron;
    position: relative;

    &::before {
        display: none;
    }

}

.section-secondary {
    background-color: $secondary;
    padding: 2rem;
    color: $beige;
    border-radius: 15px;
    margin: 5rem 0;

    h2 {
        color: $beige !important;
        margin-bottom: 1.5rem;
    }

    &::before {
        display: none;
    }

}

p {
    max-width: 1000px;
}


.container {
    max-width: 1000px;
    margin: auto;
}

main:not(.front-page) {

    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        color: $marron;

        @media screen and (max-width: 767px) {
            font-size: 2rem;
            line-height: normal;
        }
    }

    h2 {
        font-family: 'Playfair Display';
        color: $marron;
        font-size: 2rem;
    }

    h3 {
        font-family: 'Roboto';
        color: $marron;
        font-size: 20px;

        &::before {
            content: "";
            display: block;
            width: 50px;
            min-width: 50px;
            height: 1px;
            background-color: $marron;
            margin-bottom: .5rem;
        }

        @media screen and (max-width: 767px) {
            &::before {
                display: none;
            }
        }
    }
}

.rating {
    margin-bottom: 1rem;

    .star {
        width: auto;
        height: auto;
        font-size: 20px;
        background: none;

        &.full {
            color: $orange;
            opacity: 1;
        }
    }
}

.swiper-navigation {
    margin-top: 1.5rem;

    >div {
        position: relative;
        height: auto;
        width: auto;
        margin: 0;
        bottom: auto !important;
        top: auto !important;

        svg {
            color: $marron;
        }

        &[class^="swiper-pagination"] {
            width: auto;

            .swiper-pagination-bullet {
                transition: .3s;

                &.swiper-pagination-bullet-active {
                    background-color: $orange;
                }

                &:hover {
                    background-color: $orange;
                    opacity: 1;
                }
            }
        }

        &[class^="swiper-button"] {
            border: 2px solid #f6f5f2;
            width: 37px;
            height: 37px;
            min-width: 37px;
            min-height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transition: .3s;

            &.swiper-button-lock {
                display: none;
            }

            &:hover {
                border-color: $orange;
            }

            svg {
                width: 1rem;
                height: 1rem;
            }
        }
    }
}

.blog-filters {
    margin-bottom: 3rem;

    li:not(:last-child) {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media screen and (min-width: 767px) {
            &::after {
                content: "";
                width: 10px;
                height: 10px;
                background-color: $marron;
                border-radius: 50%;
                display: block;
            }
        }
    }

    .filter-btn {
        @extend .border-marron-button;

        &.active {
            @extend .marron-button;

            &:hover {
                background-color: $marron;
            }
        }
    }
}

.pagination {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .page-btn:not(.next):not(.prev) {
        width: 25px;
        min-width: 25px;
        height: 25px;
        border: 1px solid $marron;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &.active,
        &:hover {
            background-color: $marron;
            color: $beige;
        }

    }

    .page-btn {
        cursor: pointer;
    }
}

.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background: #2c6bed;
    color: white;
    border-radius: 6px;
}

.highlight-text {
    background: yellow;
    padding: 2px 4px;
}

.boxed-block {
    border: 2px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background: #fafafa;
}