@use "globals" as *;
@use "buttons";
@use "menu";
@use "home";
@use "blog";
@use "faq";
@use "page";
@use "footer";

* {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.header-content {
    background-color: white;
    color: $marron;

}

.white-block {
    background-color: white;
    border-radius: 30px;
    padding: 1.5rem;
}

main:not(.front-page) {

    h1 {
        font-size: 48px;
        font-family: 'Playfair Display';
        color: $marron;
    }

    h2 {
        font-family: 'Roboto';
        display: flex;
        align-items: center;
        color: $marron;
        font-size: 20px;
        gap: 13px;
        margin-bottom: 3.5rem;

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            background-color: $marron;
        }
    }
}

.pagination {
    margin-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    .page-btn:not(.next):not(.prev) {
        width: 25px;
        min-width: 25px;
        height: 25px;
        border: 1px solid $marron;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;

        &.active,
        &:hover {
            background-color: $marron;
            color: $beige;
        }

    }

    .page-btn {
        cursor: pointer;
    }
}

.btn.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background: #2c6bed;
    color: white;
    border-radius: 6px;
}

.highlight-text {
    background: yellow;
    padding: 2px 4px;
}

.boxed-block {
    border: 2px solid #ddd;
    padding: 15px;
    margin: 10px 0;
    background: #fafafa;
}